{% extends "base.html" %}

{% block title %} Community Storage {% endblock %}

{% block content %}

<nav id="navigation">
    <div id="nav-item">
        <a id="main">Trang Chính</a>
    </div>
</nav>

<div id="popup-form" style="display: none;">
    <form action="/s3/upload" method="POST" enctype="multipart/form-data" id="upload-form">
        <input type="file" name="file" id="file">
        <button onclick="submitForm()">Submit</button>
    </form>
    <button onclick="closePopup()">Close</button>
</div>

<button id="upload-btn">
    Tải lên
</button>

<div id="file-list">
    <ol>
        {% for file in all_files %}
        <li>
            <a href="{{ file }}" onclick="onPlay()">{{ file }}</a>
        </li>
        {% endfor %}
    </ol>
</div>

{% endblock %}