{% extends "base.html" %}
{% extends "template.html" %}

{% block title %} Community Storage {% endblock %}

{% block template %}
<template id="upload-tpl">
    <form action="/s3/upload" method="POST" enctype="multipart/form-data">
        <input type="file" name="file" id="file">
        <input type="submit" value="Upload">
    </form>
</template>

<template id="list-tpl">
    <section>
        <ol id="order-list">
        </ol>
    </section>
</template>

<template id="item-tpl">
    <li id="list-item">
        <a id="item-link">
        </a>
    </li>
</template>

<template id="video-tpl">
    <video id="video-link" controls></video>
</template>

<template id="popup-tpl">
    <div id="popup-item">
    </div>
</template>

{% endblock %}

{% block content %}

<nav id="navigation">
    <div id="nav-item">
        <a id="main">Trang Chính</a>
    </div>
</nav>

<button id="upload-btn">
    Tải lên
</button>

<div id="file-list" onload="getFiles()">
</div>

{% endblock %}