{% extends "base.html" %}

{% block title %} Community Storage {% endblock %}

{% block content %}

<nav id="navigation">
    <div id="nav-item">
        <a id="main">Trang Chính</a>
    </div>
</nav>

<div id="popup-form" class="form-popup">
    <form action="/s3/upload" method="POST" enctype="multipart/form-data" id="upload-form" class="form-container">
        <input type="file" name="file" id="file" class="btn" required>
        <button onclick="submitForm(event)" class="btn">Submit</button>
    </form>
    <button onclick="closeForm()" class="btn cancel">Close</button>
</div>

<button id="upload-btn" class="btn btn-primary" onclick="openForm()">
    Tải lên
</button>

<div id="file-list" onload="getFiles()">
</div>

{% endblock %}